force-app/main/default/flows/Update_Product_Name_Item_Uniquekey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Get_UniqueKey</name>
        <label>Get UniqueKey</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>UniqueKey</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Product_Combo_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UniqueKey</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>_</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UniqueKey</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Product_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Uniquekey</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Update Product Name Item Uniquekey {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Product Name Item Uniquekey</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Uniquekey</name>
        <label>Update Uniquekey</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>UniqueKey__c</field>
            <value>
                <elementReference>UniqueKey</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_UniqueKey</targetReference>
        </connector>
        <object>Product_Name_Item__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>UniqueKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
